/* common css */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0 auto;
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 0.8;
}

body {
    overflow-x: hidden;
}

.container{
   max-width: 1320px;
    margin: 0 auto;
}
/* Banner css start Here */
#Banner {
    background: url(../images/Banner\ Image.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 177px 344px;

}

.banner-content h1 {
    font-family: "Merriweather", serif;
    font-weight: 900;
    line-height: 95px;
    font-size: 72px;
    color: #FFFFFF;
}

.banner-content p {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
}

/* offer css */
#offer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-year-wrapper .new-year-content h2 {
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 88px;
    color: #FF0000;
    margin-top: 105px;

}

.new-year-wrapper .new-year-content p {
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 24px;
    color: #FF0000;
    margin-top: 48px;
    margin-bottom: 13px;

}

.new-year-wrapper .new-year-content h3 {
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 48px;
    color: 070211;
    margin-bottom: 48px;

}

.new-year-wrapper img {
    width: 800px;
}

/* midnight party css */
#mid-night-party {
    background: linear-gradient(to right, rgba(7, 2, 17, 0.9), rgba(7, 2, 17, 0.1)), url('/images/Vectorrr.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 125px;
    padding-left: 125px;
    padding-bottom: 140px;

}

#mid-night-party h2 {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 64px;
    line-height: 88px;
    color: #FFFFFF;

}

#mid-night-party p {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    padding-top: 13px;
    padding-bottom: 38px;
}

#mid-night-party h4 {
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

/* join now css */

#join-now {
    text-align: center;
    margin: 0 auto;
}

#join-now h3 {
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 56px;
    color: #070211;

}

#join-now span {
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 56px;
    color: #FF0000;

}

#join-now h4 a {
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 20px;
    background-color: #FF0000;
    color: #FFFF;
    padding: 12px 25px;
    border-radius: 16px;

}

#join-now h4 {
    margin-top: 55px;
}

/* best offer section */
#best-offer {
    margin-top: 120px;
    margin-bottom: 120px;
}

.best-offer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

}

.best-offer-wrapper .item-1 {
    width: 390px;

}

.best-offer-wrapper .item-2 {
    width: 463px;
    height: 463px;
    border-radius: 50%;
    border: 15px solid #FF0000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.best-offer-wrapper .inner-item img {
    width: 365px;
    height: 365px;
    border-radius: 50%;

}

.best-offer-wrapper .item-3 content {
    width: 463px;

}

.best-offer-wrapper .item-3 img {
    width: 140px;

}

.item-1 h4 {
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 24px;
    color: #FF0000;
}

.item-1 p {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
    line-height: 32px;
}

.item-1 h3 {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 48px;
    color: #070211;
    margin-top: 20px;
    margin-bottom: 16px;
}

.item-3 h4 {
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 48px;
    color: #FF0000;
}

.item-3 p {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
    line-height: 32px;
    margin-top: 16px;
    margin-bottom: 43px;
}

/* holiday section */
#holiday {
    margin-bottom: 235px;
}

.holyday-bottom {
    background-image: url('../images/Group\ 79.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 640px;
    position: relative;

}

.holyday-banner img {
    width: 300px;
}

.holyday-banner img {
    position: absolute;
    right: 30px;
    top: 50px;
}

.holiday-header {
    text-align: center;
}

.holiday-header h4 {
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 24px;
    color: #070211;

}

.holiday-header h3 {
    font-family: "Inter", serif;
    font-weight: 900;
    font-size: 72px;
    color: #070211;
    margin-top: 16px;
    margin-bottom: 28px;

}

.holiday-header p {
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
    line-height: 32px;
    padding-bottom: 65px;

}

.holiday-header h3 span {
    font-family: "Inter", serif;
    font-weight: 900;
    font-size: 72px;
    color: #FF0000;

}

/* protfolio section */
#protfolio {
    margin-bottom: 120px;
}

.protfolio-header h4 {
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 24px;
    color: #FF0000;
}

.protfolio-header h3 {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 48px;
    color: #070211;
    padding-top: 16px;
    padding-bottom: 22px;

}

.protfolio-item-wrapper {
    margin-top: 40px;
}

.protfolio-header p {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: rgba(7, 2, 17, 0.6);
}

.collection-1 img {
    width: 400px;
    margin-left: 24px;
}

.collection-1 img:first-child {
    margin-left: 0px;
}

.collection-2 img {
    width: 400px;
    margin-left: 24px;
}

.collection-2 img:first-child {
    margin-left: 0px;
}

.awsome-protfolio {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 24px;
}

/* newsLatter section css */
#newsLatter {
    margin-bottom: 120px;
    padding: 80px 0px;
    border-radius: 16px;
    background-color: rgba(255, 0, 0, 0.1);
    text-align: center;

}

.sms img {
    width: 150px;
    height: 150px;
}

.subscribe-content h3 {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 48px;
    color: #070211;
    margin-top: 40px;
    margin-bottom: 20px;
}

.subscribe-content p {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: rgba(7, 2, 17, 0.6);
    margin-bottom: 43px;
}

input[type="text"] {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    border-radius: 50px;
    width: 645px;
}
.email{
    position: relative;

}

.email a {
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 20px;
    color: #FFFF;
    padding: 20px 55px;
    background-color: #FF0000;
    border-radius: 0 50px 50px 0;
    position: absolute;
    right: 335px;
    top: 0;
    width: 210px;

}
/* footer css */
#footer{
    background-color: #070211;
    padding-top: 120px;
    padding-bottom: 120px;
}
.bottom-top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 48px;
  
}
.bottom-top p{
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 24px;
    color: #FFFF;
    line-height: 40px;
}
.right-footer{
    width: 250px;
}
.icon{
    width: 24px;
    height: 24px;
}

.bottom-mid{
    text-align: center;
    margin-top: 48px;
    margin-bottom: 48px;
    margin-right: 24px;
}
.bottom-mid:last-child{
    margin-right: 0;
}
.bottom-last p{
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 24px;
    color: #FFFF;
}
.bottom-last a{
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 24px;
    color: #FFFF;
}
.bottom-last{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}